*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.heroSection{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    width: 100vw;
    min-height: 70vh;
    color: white;
    background-position: center;
    background-size: cover;
    object-fit: cover;
   
}
.navbar{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 16px 48px;
   
}
.navbar a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    
}
.navbar_Right{
    display: flex;
    gap: 20px   ;
    padding-right: 30px;
}
.link{
    padding: 8px;
    font-size: 16px;
}
.navbar_Right .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
   position: relative;
   top: 9px;
   right: 7px;
   display: none;
   
    
   
}
.navbar .getapp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50px;
    font-size: 14px;
}

@media only screen and (max-width:600px)  {
    
    .navbar_Right .user_icon{
        display: flex;
    }   
    .link{
        display: none;
    }
    .heroSection{
        max-height: 80vh;
    }
}
.heroSection-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
 height: calc(70vh - 72px);          /*  It will calculate the height through hersosection(70vh) and navbar (72px)  */
    
}
.heroSection-Container img{
    
    width: 280px;
    height: 60px;
    position: relative;
    bottom: 40px;
    right: 15px;
   
    

}
.heroSection-Container p{
    font-size: 36px;
    font-weight: 380;
    position: relative;
    bottom: 34px;
}
.heroSection-input{
    background-color: white;
    padding: 10px;
}


